<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    save a new article
    <form method="post" action="/articles">
      <input type="text" name="article[title]">
      <textarea name="article[content]"></textarea>
      <button>Save </button>
    </form>
  </body>
</html>