<html>
<head>
  <title></title>
</head>
<body>

  <% articleId.forEach(function(article) { %>
<div>
  <%= article.title %>
  <div>
    <%= article.author %>
  </div>
</div>
<% }) %>

</body>
</html>



