<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<head>
  <title>  </title>
    <link href="stylesheets/main.css" rel="stylesheet">

</head>
<body>
  <div id="pageContainer" class="pageContainer">
<h1>Site index/ HOMEPAGE</h1>

<a href= "/contact/"> contact </a>
<a href= "/about/"> about </a>

</body>
</html>